@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animate__animated.animate__rotateOut{
    animation-iteration-count: infinite;
}

.wrapper{
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather{
    overflow: hidden;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.582);
position: relative;
 width: 950px;
 height: 650px;  

 @media screen and (max-width:768px) {
    height: 700px;
  }
 @media screen and (max-width:578px) {
    height: auto;
   overflow-y: visible;
 }
}
.sunny{
    background-color: rgba(99, 136, 185, 0.788);
}
.sunny-bg{
    background: url(../backgroundAssets/bg2.jpg) no-repeat;
    background-size: cover;
    background-position-y: top;
}

